# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

# Node
node_modules/
dist/
build/

# OS / editor
.DS_Store
.vscode/**/*
!.vscode/settings.json
.idea/

# Secrets
.env
